h1{

		background-color: gold;
		height: 45px;
		text-align: center;
		margin-top: -8px;
		margin-right: 600px;
		margin-left: 600px;

	}
	img{

		width: 130px;
		border-radius: 450px;

	}
	h2{

		text-align: center;
	}

p{
	text-align: center;

	}